<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trânsito POA/RS</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="static/devices/css/main.css">

{% if stats %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52276285-1', 'transito-poa-rs.appspot.com');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
{% endif %}

    <script>
    var timer = 0;
    function reload() {
      location.reload();
    }

function adjustHeights() {
  document.getElementById("body").style.marginTop = document.getElementById("header").offsetHeight+"px";
}  

      function updateTimer() {
        document.getElementById("timer_str").innerHTML="Atualizado ha " + timer + " segundo(s)";
        timer = timer + 1;
        }
      //setInterval(function(){updateTimer()}, 1000);

      function show_modal() {
//http://stackoverflow.com/questions/18979531/prevent-dialog-on-mobile-screen-from-scrolling-the-body
        window.scrollTo(0, 0);
         document.getElementById('overlay').style.display='block';
         document.getElementById('fade').style.display='block';
         document.getElementById('body').style.overflow = "hidden"
          //document.ontouchstart = function(e){ e.preventDefault(); }
}

      function hide_modal() {
        document.getElementById('overlay').style.display='none';
        document.getElementById('fade').style.display='none'
         document.getElementById('body').style.overflow = "auto"
         //document.ontouchstart = function(e){ return true; }
      }

    </script>
  </head>

  <body id=body onload="adjustHeights()">

<div id="container">

    <div id=header class="header bar">
    <table border=0 width=100% cellspacing=0 cellpadding=0>
      <tr valign=middle >
        <td width=5% align=center>&nbsp;</td>
        <td width=90% align=center><span class="main_title">Trânsito POA/RS</span></td>
        <td width=5% align=center><a onclick="show_modal()" href="javascript:void(0)"><img class="icon" src="static/devices/img/info.png"></a></td>
      </tr>
    </table>
  </div>



    <div class="body" id="body">

      <table border=0 width=100% cellspacing=0 cellpadding=0>

      {% set today = '' %}
      {% for tweet in tweets %}
        {% set thisday = tweet.time|get_datetime('%d/%m/%Y') %}
        {% if today != thisday %}
          {% set today = thisday %}
          <tr><td colspan=2 class="datebar">{{ thisday }}</td></tr>
        {% endif %}

        <tr valign="top">
        <td class="item">

        <span>
            <span style="color:#000; font-weight: bold">• {{ tweet.time | get_datetime('%Hh%M') }}: </span>
            {{ tweet.msg }}
            <span style="color:#777; "> - </span>
            {% if tweet.screenname != tweet.publisher %}
              <span style="color:#777; ">
                @{{ tweet.publisher }} via
              </span>
            {% endif %}
            <span style="color:#777; ">@{{ tweet.screenname }}</span>
            </span>


        </td>

<td class="item">
{#
<img class="avatar" src="{{ url_for('images', filename=tweet.avatar, width=icon_w, quality=95, format='jpg' ) }}" alt="logo">
<img class="avatar" src="{{tweet.avatar}}" alt="logo">
#}
<img class="avatar" src="http://imagebox.lovato.geek42.org/imgsizer/remote?q={{quality}}&w={{icon_w}}&u={{tweet.avatar}}" alt="logo">

</td>

        </tr>       

{% if tweet.url != '' %}
{#
            <tr><td colspan=2 class="picture"><img src="{{ url_for('images', filename=tweet.url, width=picture_w, quality=95, format='jpg') }}" style="margin-top:10px; width:100%; border-radius: 10px;" ></td></tr>
            <tr><td colspan=2 class="picture"><img src="{{tweet.url}}" style="margin-top:10px; width:100%; border-radius: 10px;" ></td></tr>
#}
            <tr><td colspan=2 class="picture"><img src="http://imagebox.lovato.geek42.org/imgsizer/remote?q={{quality}}&w={{picture_w}}&u={{tweet.url}}" style="margin-top:10px; width:100%; border-radius: 10px;" ></td></tr>
          {% endif %}

      {% endfor %}
      </table>


    </div>

    <div id=footer class="footer bar">
    <table border=0 width=100% cellspacing=0 cellpadding=0>
      <tr valign=middle >
        <td width=5% align=center>&nbsp;</td>
        <td width=90% align=center>&nbsp;</td>
        <td width=5% align=center><a href=# onclick="reload()"><img class="icon" src="static/devices/img/refresh.png"</a></td>
      </tr>
    </table>
  </div>

    
    </div>

<br><br>
    <!-- Compose modal -->

    <div id="fade"></div>
    <div id="overlay">
      <div id=header class="bar">
        <table border=0 width=100% cellspacing=0 cellpadding=0>
          <tr valign=middle >
            <td width=5% align=center>&nbsp;</td>
            <td width=90% align=center><span class="main_title">Sobre...</span></td>
            <td width=5% align=center><a onclick="hide_modal();" href="javascript:void(0)"><img class="icon" src="static/devices/img/close.jpg"></a></td>
          </tr>
          </table>
        </div>
        <div class="modal" style="margin-right:10%; margin-left:10%;">
          <center>
            <br>
            <img style="width:40%;height:auto;" src="https://pbs.twimg.com/profile_images/461330142078328832/v6nDOmsI_400x400.png"><br>
            <span class="title">Trânsito POA/RS</span><br>
            <span class="autosize_text" style="font-weight: normal;">
            Informações agora, em tempo real, do trânsito e de acidentes em Porto Alegre RS e região metropolitana.<br>
            Fontes principais:<br>EPTC, Zero Hora e Gaúcha</span>
            <br><br>
            <div style="width:100%; text-align:right;">
              <span class="title">contato</span><br>
              <span>transitopoars@gmail.com</span><br>
              <span class="title">twitter</span><br>
              <span>@transitopoars</span><br>
              <span class="title">problemas?</span><br>
              <span>http://bit.ly/transitopoars-bugs</span><br><br>
              <span>v0.2.0</span><br><br>
              <span>{{width}}x{{height}} ({{fastconn}})</span><br>
            </div>
          </center>
        </div>
      </div>
    </div><!-- /.modal -->

  </body>
</html>
