body {
  font-family: helvetica;
  padding:0px;
  margin:0px;
  width: 100%;
}

#container {
   min-height:100%;
   position:relative;
   height:100%;
}

.bar {
  left: 0;
  z-index: 999;
  width: 100%;
  padding-top:4px;
  padding-bottom:4px;
  background-color:#E7E7E7;
}

.datebar {
  width: 100%;
  border-style:solid;
  border-color:#DDD;
  border-width:1px 0px 0px 0px;
  padding:2px 8px 2px 8px ;
  /*padding:1vw;*/
  background-color:#F0F0F0;
  font-weight: bold;
}

.item {
  width: 100%;
  border-style:solid;
  border-color:#DDD;
  border-width:1px 0px 0px 0px;
  padding:8px 8px 8px 8px ;
  /*padding:1vw;*/
  font-weight: normal;
}

.bar-item {
  float: left;
}

.avatar {
  width:15%;
  border-radius: 15%;
  /*width:10vw;
  height:10vw;*/
}

.icon {
  /*
  width: 7vw;
  height: 7vw;*/
  padding-left:5px;
  padding-right:5px;
  margin-top:4px;
}

.header {
  position: fixed;
  top: 0;
}

#footer {
   position:fixed;
   bottom:0px;
}

.picture {
  padding:0px 8px 8px 8px;  
}

.main_title {
  /*
   font-size: 6vw;
   */
   color:#000;
   text-align: center;
   font-weight: bold;
}

.title {
  /*
   font-size: 4.5vw;
   line-height: 4.5vw;*/
   color:#000;
   font-weight: bold;
}

.avatar {
/*  border:1px solid #CCC; */
}

#overlay {
    display: none; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 3%; /* positions the div half way horizontally */
    top: 3%; /* positions the div half way vertically */
    /*padding: 25px; */
    /*border: 2px solid black;*/
    background-color: #ffffff;
    width: 94%;
    height: 94%;
    z-index: 3000; /* makes the div the top layer, so it’ll lay on top of the other content */
}
#fade {
    display: none;  /* ensures it’s invisible until it’s called */
    position: absolute;  /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 0%; /* makes the div span all the way across the viewing area */
    top: 0%; /* makes the div span all the way across the viewing area */
    background-color: black;
    -moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 2000; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}

@media all and (min-width: 200px)  {  body  { font-size:0.8em;  } .icon { width:1.2em; height: 1.2em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 300px)  {  body  { font-size:1.0em;  } .icon { width:1.2em; height: 1.2em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 400px)  {  body  { font-size:1.2em;  } .icon { width:1.2em; height: 1.2em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 500px)  {  body  { font-size:1.4em;  } .icon { width:1.2em; height: 1.2em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 600px)  {  body  { font-size:1.6em;  } .icon { width:1.1em; height: 1.1em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 700px)  {  body  { font-size:1.8em;  } .icon { width:1.1em; height: 1.1em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 800px)  {  body  { font-size:2.0em;  } .icon { width:1.1em; height: 1.1em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 900px)  {  body  { font-size:2.2em;  } .icon { width:1.1em; height: 1.1em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 1000px) {  body  { font-size:2.4em;  } .icon { width:1.0em; height: 1.0em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 1100px) {  body  { font-size:2.6em;  } .icon { width:1.0em; height: 1.0em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 1200px) {  body  { font-size:2.8em;  } .icon { width:1.0em; height: 1.0em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 1300px) {  body  { font-size:3.0em;  } .icon { width:1.0em; height: 1.0em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 1400px) {  body  { font-size:3.2em;  } .icon { width:1.0em; height: 1.0em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 1500px) {  body  { font-size:3.4em;  } .icon { width:1.0em; height: 1.0em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 1500px) {  body  { font-size:3.6em;  } .icon { width:1.0em; height: 1.0em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 1600px) {  body  { font-size:3.8em;  } .icon { width:1.0em; height: 1.0em; } .avatar { width:3.4em; height: 3.4em;} }
@media all and (min-width: 1700px) {  body  { font-size:4.0em;  } .icon { width:1.0em; height: 1.0em; } .avatar { width:3.4em; height: 3.4em;} }
